 * {
     box-sizing: border-box;
     margin: auto;
 }

 .title {
     text-align: center;
     color: rgb(221, 236, 9);
 }

 body {
     text-align: center;
     font-family: 'Chilanka', cursive;
     background-color: #ecea6d;
 }

 .header {
     background-size: cover;
     padding: 40px;
     background-position-y: 40%;
 }

 .container {
     margin: 60px;
 }

 #portfolio {
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .welcome {
     margin-bottom: 35px;
 }

 .toplist li a {
     color: rgb(255, 251, 0);
     text-transform: uppercase;
     font-size: 15px;
 }

 .toplist li {
     padding: 10px;
     margin: 10px;
     margin-right: 38px;
     text-align: left;
 }

 li, a {
     overflow: hidden;
     text-decoration: none;
 }

 p {
     text-align: center;
     font-size: large;
     line-height: 30px;
     margin-bottom: 40px;
     box-shadow: 10px 10px 5px grey;
     background-color: rgb(255, 238, 1);
     margin-top: 10px;
 }

 h2, h1 {
     text-align: center;
 }

 #lantitle {
     text-transform: uppercase;
 }

 img {
     width: 100%;
     margin-bottom: 45px;
     transition: all 0.9s;
     filter: blur(10px);
 }

 img:hover {
    filter: blur(0);
     border-radius: 50%;
 }


 @media (min-width: 768px) {
     .container {
         margin: 35px;
     }
     .flex {
         display: flex;
         flex-wrap: wrap;
     }
     .templates {
         width: 50%;
         padding: 20px;
         align-content: space-between;
         margin-bottom: 20px;
     }
     .toplist li a {
         font-size: 20px;
     }
 }

 @media (min-width: 1024px) {
     .templates {
         width: 33%;
     }
     .title {
         color: rgb(243, 246, 40);
         text-shadow: 4px 4px #000000;
     }
     .container {
         margin: 120px;
     }
     .toplist li {
         font-size: 35px;
     }
     footer {
         margin-top: 50px;
     }
     .form-msg {
        position: absolute;
        bottom: 1320px;
    }
 }